################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TheNewYoga.sln
/TheNewYoga.sln

# Ignore Visual Studio temporary files, build results, and
# folder containing Visual Studio settings
.vs/
*.user
*.suo
